:root {
  --transition: all 0.3s linear;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.spinner {
  width: 5rem;
  height: 5rem;
  font-size: 2rem;
}
.nacitanie {
  margin: 5% auto;
  padding: 3rem;
}
form {
  display: flex;
  justify-content: center;
}
.input {
  max-width: 500px;
  font-size: 1.5rem;
}
.hladaj {
  font-size: 1.3rem;
}
.okno {
  height: 17.5rem;
  overflow: hidden;
  position: relative;
}
img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}
.alert {
  font-size: 2rem;
}

.photo-info {
  position: absolute;
  width: 100%;
  padding: 1rem;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.4);
  color: white;
  transform: translateY(100%);
  transition: var(--transition);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.photo:hover .photo-info {
  transform: translateY(0);
}

@media only screen and (max-width: 600px) {
  .okno {
    height: 10rem;
  }
}
